@model IEnumerable<HealthCareProject.Models.Hospital>

@{ ViewData["Title"] = "Hospital Search"; }

<body>
    <div class="container-fluid" align="center" justify-content="center" style="background-color:white">

        <h1><b>Search for Hospitals</b></h1>

        <form method="get" asp-action="Search">
            <div class="form-outline">
                <input type="search" placeholder="Enter keywords here..." value="@ViewData["gethospdetails"]" name="hospsearch" style="width:200px;" />
                <input type="submit" value="Search" class="btn btn-primary" />
                <br />
            </div>

            <a asp-action="Search">Show All Hospitals</a>
        </form>
        <br />

        <h3>List of Hospitals</h3>
        <table class="table-striped table-bordered">
            <thead>
                <tr align="center" justify-content="center">
                    <th>
                        @Html.DisplayNameFor(model => model.HospitalId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.HospitalName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FirstConsultationFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.FollowUpConsultationFee)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.StreetAddress)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.City)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.State)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Country)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Pincode)
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
    <tr align="center" justify-content="center">
        <td>
            @Html.DisplayFor(modelItem => item.HospitalId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HospitalName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstConsultationFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FollowUpConsultationFee)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreetAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pincode)
        </td>

    </tr>
}
            </tbody>
        </table>
        <br />

        <a class="btn btn-warning" asp-area="" asp-controller="ClientService" asp-action="Index">Back</a>
    </div>
</body>